.Como_funcionaU_local{
    position: relative;
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 25vh;
}
.Como_funcionaU_local_gif{
    position: relative;
    width: 32%;
    height: 60vh;
    margin-top: 1vh;
}

.Como_funcionaU_local_align{
    position: relative;
    width: 60%;
    height: 25vh;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 14vh;
    margin-left: 10vw;
}
.Como_funcionaU_local_titulo{
    font-size: 1.7rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #010038;
    text-align: center;
}
.Como_funcionaU_local_text{
    font-size: 1.3rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color:  #545454;
}
